/* global setting - everything gets some defaults */
html {
  font-family: Calibri, Helvetica, sans-serif;
  background: lightgray; 
}

.title {
  max-width: 800px;
  margin: auto;
  text-align: center;
  font-size: 50pt;
}

canvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.centerText {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-size: 25pt;
  margin-top: 50px;
  margin-bottom: 20px;
}

.centerInputs {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  font-size: 15pt;
  margin-top: 20px;
}

input[type="range"] {
  width:800px;
  vertical-align: middle;
}